# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
*.env

# Django
*.log
staticfiles/
media/

# Docker
*.dockerignore

# Editor / OS files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*~

# Node (for frontend)
node_modules/